.todoList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todoItem {
  display: flex;
  align-items: center;
}

.todoItemBtnGroup {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tabItem {
  padding: 5px 0;
  text-align: center;
  flex: 1;
  cursor: pointer;
}

.tabItemActive {
  color: var(--link-color);
  border-bottom: 2px solid var(--link-color);
}

.iconBtn {
  padding: 3px;
  cursor: pointer;
}

.input {
  padding: 2px 7px;
}
